<!DOCTYPE html>
<html>
   <head>
      <title>Ollie Bike Sharing</title>
      <meta charset="utf-8"/>
      <link rel="stylesheet" type="text/css" href="css.css">
   </head>
   <body>
      <div class="container">
         <div class="nav">
            <h2>Hello</h2>
            <ul>
               <li>sign up</li>
               <li>search map</li>
               <li>talk stupid</li>
               <li>about us</li>
            </ul>
         </div>
         <div class="main">
            <h1>Good old times</h1>
            <h3>what happen earlier</h3>
            <p>This is just text to fill the page and has nothing to say. bla bla bla bla bla</p>
            <p> here is a <a href="cities.html">list</a> of cities where you can find us.</p>
            <video width="320" height="240" controls>
               <source src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-1/ollie.mp4" type="video/mp4">
            </video>
        	<!-- 
<div class="style">
        		<p>dies ist ein Text</p>
			    <img src="/Users/davidkuchelmeister/Studium/HTML CSS/Test 1/Pictures/1.JPG"/>
				<img src="/Users/davidkuchelmeister/Studium/HTML CSS/Test 1/Pictures/2.JPG"/>
    			<img src="/Users/davidkuchelmeister/Studium/HTML CSS/Test 1/Pictures/3.JPG"/>
				<img src="/Users/davidkuchelmeister/Studium/HTML CSS/Test 1/Pictures/4.JPG"/>
            	<img src="/Users/davidkuchelmeister/Studium/HTML CSS/Test 1/Pictures/5.JPG"/>
            	<img src="/Users/davidkuchelmeister/Studium/HTML CSS/Test 1/Pictures/6.JPG"/>
			</div>
            <img src="/Users/davidkuchelmeister/Studium/HTML CSS/Test 1/Pictures/7.JPG" style="height:20%;"/>
            <img src="/Users/davidkuchelmeister/Studium/HTML CSS/Test 1/Pictures/8.JPG" style="height:20%;"/>
            <img src="/Users/davidkuchelmeister/Studium/HTML CSS/Test 1/Pictures/9.JPG" style="height:20%;"/>
 -->

         </div>
         <div class="style">
         	<h2>Hello this is just a test</h2>
         	<p>I want to wirte some things and see how they look like</p>
         </div>
      </div>
   </body>
</html>