<!DOCTYPE html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
<html> 
	<head>
		<title>David Kuchelmeister</title>
      	<meta charset="utf-8"/>
      	<link rel="stylesheet" type="text/css" href="style.css" />
	</head>
	<body>
		<div class="header">
		<h1>David Kuchelmeister</h1>
		</div>
		<div class="content">
			<div class="navigation">
			<ul>
				<li>Lebenslauf
				<li>Shiny Apps
				<li>Projekt ABW
			</ul>
			</div>
			<div class="main">
				<img src="/Users/davidkuchelmeister/Documents/Arbeit/CV/CV\ -\ SchulFotos/David.jpg" width="20%">
				<div class="text">
					<h2><p>ABOUT ME</p></h2>
					<p>Ich schreibe eigentlich gar nichts über mich, der Titel war irreführend.</p>
				</div>
			</div>
		</div>
		<div class="footer">
			<p>Kontakt</p>
		</div>
	</body>
</html>